div.bedcard:hover
{
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.507),0px 5px 5px 0px rgba(0, 0, 0, 0.507);
  /* -ms-transform: scale(1.1); /* IE 9 */
  /* -webkit-transform: scale(1.1); Safari 3-8 */
  /* transform: scale(1.1);  */ 
}
.row {
  padding: 0px 10px 0px 10px !important;
}
.carousel-caption {
  right: auto;
  left: 10%;
  padding-bottom: 20px;
  width: 50%;
  background: rgba(0,0,0,0.5);
  top: 10%;
  bottom: auto;
  }