div.customer_style {
    margin: 0px !important; 
}
.carousel-caption {
    right: auto;
    left: 1.5%;
    padding-bottom: 20px;
    width: 50%;
    background: rgba(0,0,0,0.5);
    top: 10%;
    bottom: auto;
    }